<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md2 col-lg-5 col-md-7 offset-lg-4 offset-md3">
                <div class="panel border bg-white">
                    <div class="panel heading">
                        <h3 class="pt-3 font-weight-bold">Login</h3>

                        <div class="panel body pt-3">
                            <form action="">
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>